<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.yeonjukko.bodyend">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".BodyEndApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BodyEndAppTheme">
        <activity
            android:name=".activity.StimulusActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.InitInfoActivity"
            android:label="@string/activity_info" />
        <activity
            android:name=".activity.TestActvity"
            android:theme="@style/MyNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.InitTargetActivity"
            android:label="@string/activity_target" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.RecordActivity" />
        <activity
            android:name=".activity.CameraActivity"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".activity.settings.WaterSettingActivity"
            android:label="@string/record_water_setting"
            android:theme="@style/MySettingTheme"></activity>
    </application>

</manifest>
