<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.yeonjukko.bodyend">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".BodyEndApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/BodyEndAppTheme">
        <activity
            android:name=".activity.InitInfoActivity"
            android:label="@string/activity_info"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".activity.TestActvity"
            android:theme="@style/MySettingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.InitTargetActivity"
            android:label="@string/activity_target"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.CameraActivity"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".activity.settings.WaterSettingActivity"
            android:label="@string/record_water_setting"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".activity.settings.ExerciseSettingActivity"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".activity.settings.AttendanceMapAcitivity"
            android:theme="@style/BodyEndAppTheme" />
        <activity android:name=".activity.CalendarActivity" />
        <activity
            android:name=".activity.settings.ExerciseManagerActivity"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".activity.YoutubePlayerActivity"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".activity.settings.DefaultSettingActivity"
            android:theme="@style/MyNoActionBar"/>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>